<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<header>
    <ul class="mainheader" id="navi">
   
      <a href = ""><img class="logo" src="assets/logo7.png">
        <span class="text"> 
          <address>
            GoGreen <br>Car Wash
          </address>
      </span></a>
        
      <li class="menu" style="font-size:14px;"><a >Hello {{usercredentials.name}}</a></li>
      <li class="menu" style="font-size:14px;"><a href="" (click)="logout()">Logout</a></li>
        <li class="menu" style="font-size:14px;"><a href="cust-register">Register</a></li>
        <li class="menu" style="font-size:14px;"><a href="cust-login">Login</a></li>
        <li class="menu" style="font-size:14px;"><a href="booking-history" >MyAccount</a></li>
        <li class="menu" style="font-size:14px;"><a href="">Home</a></li>
    </ul>
  </header>