
    <footer>
        <div style="background-color: lightgray;">
            <div>
            <table >
            <tr style="text-align: left; font-size: 20px; font-family: Fjalla One', sans-serif;" >
                <th href="#" style="width : 25%; " >About Us</th>
                <th href="#" style="width: 25%;">Quick Menus</th>
                <th href="#" style="width: 25%;"><a href="#">My Account</a></th>
                <th href="#" style="width: 25%;">Contact Us</th>
              </tr>
              <tr>
                <td rowspan="5" >Our premium services speak of the highest quality workmanship in the India. We offer a subscription based model that ensures eco-friendly 
                    detailing and wash services for your car.</td>
                <a href="#" ><td style="color: #337ab7">Home</td></a>
                <td style="color: #337ab7"><a href="#">My Account</a></td>
                <td ><span style="font-weight: bold;">Address:</span> No 12 Bokaro Steel City, Jharkhand 827001</td>
              </tr>
              <tr>
                  <td href="#" style="color: #337ab7"><a href="#">Abouts Us</a></td>
                  <td href="#" style="color: #337ab7">Order History</td>
                  <td><span style="font-weight: bold;">Phone No:</span> +91 123456789</td>
                  
              </tr>
             
            <tr>
                <td href="#" style="color: #337ab7"><a href="#">Services</a></td>
                <td style="color: #337ab7"></td>
                <td><span style="font-weight: bold;">Email Id:</span> xyz@gmail.com</td>
                
            </tr>
            <tr>
                <td href="#" style="color: #337ab7"><a href="#">Gallery</a></td>
                <td style="color: #337ab7"></td>
               
            </tr>
            </table>
            </div>
            <br>
            <br>
            <div>
                <a href="#"><img src="assets/fb.png" class="social-fo"></a>&nbsp;
                <a href="#"><img src="assets/twitter.png" class="social-fo"></a>&nbsp;
                <a href="#"><img src="assets/gmail.png" class="social-fo"></a>&nbsp;
                <a href="#"><img src="assets/insta.jpg" class="social-fo"></a>&nbsp;
            </div>
            </div>
           
            
        <div class="main-footer foot">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            
        </div>
        <!-- Default to the left -->
        <strong>Capgemini's Copyright &copy; 2018 <a href="#"></a>.</strong> All rights reserved.
        </div>
    </footer>
   